 body{
            background-color: black;
            color:white;text-align: center;
        }
        .suggestion1{
            font-weight: bold;
        }
        .suggestion2{
            font-weight: bold;
        }
        .suggestion3{
            font-weight: bold;
        }
        .suggestion4{
            font-weight: bold;
        }